<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Hi!</h1>
    <p>It's the very first time I work with a ejs, <span
            style="color: red; font-weight: 500; font-size: small;">Embedded
            JavaScrip</span>
        file!</p>
    <button type="submit">Log Out</button>


</body>

</html>